


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"></head>
<body>
<div th:replace="fragments :: navigation"></div>
<div class="container">
    <div class="bg-light p-4 rounded m-2">
        <h1 class="display-4">Welcome to My News Site!</h1>
        <p>Use the search bar to find the latest news stories:</p>
        <form th:action="@{/search}" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" name="searchText">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
        <p>Or browse the most popular stories:</p>
        <a href="/search" class="btn btn-primary">Most Popular Stories</a>


    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>



